pointsfilter {
	# filtering_method:"Multiregion_planes"; #"semantic_raod_range";
	filtering_method: "Road_plane";
	offset_dist: 0.3;
	max_filtering_dist: 55;
	semantic_road_conf: 0.005;
	region_ranges: [ 0,-40, -3, 70, 40, 1];
	close_ranges:[ 40, -2.0];
	h_sub: 3.5; ## 70 meters
	w_sub: 4;  ## 80 meters
}

pointscluster {
	clustering_method: "scan_run_"; #scan_run_  euclidean_dist_
	dist_threshold: 0.5;
        H_dist: 0.578;
        V_dist: 0.828;
        min_connect_points: 2;
        angle_dif_threshold: 0.001;
        min_points_per_scan: 6;
        min_seg_point: 3;# 3;
}

clustersfilter{
	clusterfiltering_method:"xyzsize_merge_numpoints";#xyzsize_merge_zh_numpoints
	min_points_cluster: 30;
	max_length_cluster: 6;
	max_width_cluster: 6;
	max_hight_cluster: .8;
        angle_threshold: 0.2; # rad not degree
        frustum_offset: 5.8;  # 0.27 + d(tolerance) to avoid saturation
        frustum_ratio: 0.9;  # larger, more broad view, 0.9~42degree
        frustum_max_x: 30;
}

clustertodetection{
        detection_method:"classification"; #"orientation_enumeration";
        angle_resolution: 90; # 2*pi/180;
	# model_path: '/home/ben/projects/tracking/hbtk/dataset/pretrained_model/cls_model_400_4.pth';
        model_path: '/home/ben/projects/tracking/hbtk/dataset/pretrained_model/cls_model_400_small_scale_stop_120.pth';
	num_sample: 400;
	num_classes:4;
	feature_transform: false;
	GPU: false;
        }

