detector {
        main_method : "FRCNN";
        auxiliary_method : "mobilenet";
        data_subset: ['MOT17-02','MOT17-05','MOT17-10'];
        interval_num : 2;
        }

filter {
        filter_name : "kalman";
        data_association : "Hungarian";
        }

tracker {
        tracker_name : "SORT";
        }

