detector {
        main_method : "/home/ben/Dataset/Detections_MOT17/frcnn";
        auxiliary_method : "/home/ben/Dataset/Detections_MOT17/mobilenet"; # mobilenet, the same method to test code firstly
        data_subset: ['MOT17-02', 'MOT17-05', 'MOT17-10'];
        interval_num : 2;
        }

filter {
        filter_name : "kalman";
        data_association : "Hungarian";
        }

tracker {
        tracker_name : "SORT";
        max_age: 1;
        min_hits: 3;
        age_tolerate: 3
        }

dataset{
        database_dir: "/home/ben/Dataset/MOT17";
        phase: "train"
        }
