detector {
        main_method : "/home/ben/Dataset/Detections_MOT17/frcnn";
        auxiliary_method : "/home/ben/Dataset/Detections_MOT17/mobilenet"; # mobilenet, the same method to test code firstly
        data_subset: ['MOT17-02', 'MOT17-05', 'MOT17-10'];
        interval_num : 2;
        confidence: 0.5;
        }

filter {
        filter_name : "kalman";
        data_association : "Hungarian";
        }

tracker {
        tracker_name : "SORT";
        max_age: 9;  # should be the same number with interval, life span of object in tracking
        min_hits: 1;  # the minimum updating times
        age_tolerate: 2;  # should be interval_num+1
        start_hits: 9;    # should be interval_num+1
        ratio_hit_age: 0.4;
        }

dataset{
        database_dir: "/home/ben/Dataset/MOT17";
        phase: "train"
        }
